    html, body {
    height: 100%;
    background-color:#EBEBEB;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



/* ---------------------- Code related to the header *---------------------- */
#header {
    width: 100%;
    height: 4.44444%;
    display: inline;
    float: left;
    position:fixed;
    background-color: #EBEBEB;
    border-bottom: 1px solid #DADADA;
    top:0px;
}

#headcontainer {
    width: 66.6667%;
    height: 100%;
    margin: 0px auto;
    align-items: center;

}
#logotypecontainer {
    width:50%;
    height:100%;
    float: left;
}

#menucontainer {
    width:50%;
    height:100%;
    float: left;
    text-align:right;
    border: none;
    outline: none;
}


#logotext {
    width: 5%;
    height: 100%;
    float: left;
    margin-top:0.333333vh;
    margin-left:1vh;
}
h1.logotype {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    letter-spacing:0.075vh;
}

h1.menu {
    font-size: 1.75vh;
}

/* ---------------------- Code related to content of index *---------------------- */

#container {
    max-width:66.6667%;
    height:100%;
    margin: 0px auto;
}

#textbox {
    width: 100%;
    height: 9%;
    float: left;
    text-align:center;
    margin-top: 10%;
}

#programcontainer{
    width:100%;
    height:50%;
    float:left;
    margin-top:5%;
}

#explanationfield{
    position:relative;
    z-index:2;
    width:33.33%;
    height:100%;
    float:left;
    background-color: #DADADA;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.explanation_title{
    margin-top:10%;
    margin-left:10%;
    width:80%;
    height:10%;
    float: left;
}

.explanation_text{
    margin-left:10%;
    margin-top:3%;
    width:80%;
    height:20%;
    float: left;
}

.icons_for_success{
    margin-left:10%;
    width:80%;
    height:15%;
    float: left;
    display: flex;
    justify-content: center;
}

.icons_for_success div{
    width:8vh;
    height:8vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.explanation_details{
    margin-left:10%;
    margin-top:3%;
    width:80%;
    height:20%;
    float: left;
}

/* --- The drop down menu for program and spec ------*/

select {
    width:100%;
    height:3.25vh;
    margin-bottom:2%;
    padding-left:2%;
    float:left;
    border-radius:5px;
    background-color: #202020;
    border: none;
    outline: none;
    cursor: pointer;
    color:#EAEAEA;
    font-weight:100;
    font-size:1vh;
  }

  .select--disabled {
    width:100%;
    height:3.25vh;
    margin-bottom:2%;
    padding-left:2%;
    float:left;
    border-radius:5px;
    background-color: #202020;
    border: none;
    outline: none;
    cursor: not-allowed;
    color:#949494;
    font-weight:100;
    font-size:1vh;
  }

/* --- The actual program and calculator ----*/
#programfield{
    width:66.66%;
    height:100%;
    background-color: #e2e2e2;
    border-radius: 0px 10px 10px 0px;
    float:right;
}

#programfield_content{
    width:90%;
    height:70%;
    float:left;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
    overflow:auto;
}

.pf_title{
    width:100%;
    height:10%;
    float:left;
}

table.pf{
    width: 100%;
    height: 90%;
    float: left;
    border-collapse: collapse;
}

td {
    border:none;
  }

tr.head{
    text-align: left;
    border-bottom: 1px solid #202020;
}

tr.content{
    height:10%;
}

th.th1{
    width:25%;
}
th.th2{
    width:50%;
}
th.th3{
    width:6.25%;
    text-align: center;
}
th.th4{
    width:18.75%;
    text-align: center;
}

td.td1{
    width:25%;
}
td.td2{
    width:50%;
}
td.td3{
    width:6.25%;
    text-align: center;
}
td.td4{
    width:18.75%;
    text-align: center;
}

#programfield_footer{
    width:100%;
    height:10%;
    background-color: #e2e2e2;
    float:right;
}

.btnsubmitprgm{
    width:15%;
    height:3.25vh;
    float:right;
    border-radius:5px;
    background-color: #202020;
    border: none;
    outline: none;
    cursor: pointer;
    color:#EAEAEA;
    font-weight:100;
    font-size:1vh;
    margin-right:5%;
    font-family: Roboto;
}

/* ---------------------- Code related to the explanation *---------------------- */
#explanationcontent {
    width: 960px;
    height: 800px;
    float: left;
    margin-left: 90px;
    margin-top:50px;
}
#explanationtext{
    width: 960px;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#explanationbox{
    width: 250px;
    height: 300px;
    float: left;
    margin-bottom: 15px;
    margin-left: 52.5px;
    border-radius: 5px;
}


/* ---------------------- Code related to hrefs *---------------------- */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #202020;
  }

/* ---------------------- Code related to the menu *---------------------- */

/* Dropdown Button */
  .dropbtn {
    border: none;
    background-color: #EBEBEB;
    border: none;
    outline: none;
 }  

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
    border: none;
    outline: none;
  }

  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #EBEBEB;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #202020;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #DADADA;
      transition-duration: 1s;
      transition-property: all;
      transition-timing-function: ease;
      transition-delay: 0s;
    }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fade-in 0.25s;
    border: none;
    outline: none;
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      @keyframes fade-out {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }


/* ---------------------- Code related to the about page *---------------------- */


#aboutbox {
    width: 320px;
    height: 400px;
    margin-left:45px;
    margin-bottom:10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #DADADA; 
    border-radius:5px;
}



/* ---------------------- Code related to text and fonts *---------------------- */


/*------ "stop struggle" ----*/
h2.textboxtitle{
    font-size:2vh;
    text-align: center;
    color:#202020;
}

p.explanation{
    font-size:1.25vh;
    text-align:center;
    color:#202020;
}

/*------ Calculating program ----*/
h2.expln_title{
    font-weight:100;
    font-size:1.75vh;
    text-align: left;
    color:#202020;
    text-decoration: underline;
    text-underline-offset: 0.8vh;
    text-decoration-thickness: 1px;

}

p.expln_text{
    font-weight:100;
    font-size:0.95vh;
    text-align: left;
    color:#202020;
}

h2.pf{
    font-weight:100;
    font-size:1.75vh;
    text-align: left;
    color:#202020;
}
/*------ Login site ----*/
p.leftcont{
    size: 10px;
    text-align:center;
    color:#202020;
}

p.loginfield{
    font-size:0.5vw;
    color:#949494;
}

p.logintext_lft{
    font-size:0.4vw;
    font-weight:600;
    color:#202020;
}
p.logintext_rgt{
    font-size:0.4vw;
    font-weight:600;
    color:#202020;
    float:right;
}

h3.login{
    font-size:0.7vw;
    color:#202020;
}

h3.login_left_info{
    font-size:0.7vw;
    font-weight:700;
    color:#202020;
}

p.login_left_info{
    font-size:0.6vw;
    font-weight:500;
    color:#202020;
}

h1.login{
    font-family: 'Roboto', sans-serif;
    font-size: 2.25vw;
    letter-spacing:1px;
    color:#202020;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DADADA;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* ---------------------- Login page ----------------------------*/ 
  #logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:37.5%;
    height: 100%;
    margin: 0px auto;

}
#login_box{
    width:100%;
    height:40%;
}

#leftlogin{
    width:60%;
    height:100%;
    background: linear-gradient(-45deg, rgba(245,126,74,1) 0%, rgba(247,158,20,1) 20%,
     rgba(188,220,38,1) 38%, rgba(162,214,56,1) 50%,
     rgba(108,201,93,1) 62%, rgba(177,141,255,1) 81%, rgba(224,162,255,1) 100%);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px 0px 0px 10px;
}

#leftwrapper{
    width: 70%;
    height:70%;
    float:left;
}

.leftcontent_title{
    width:100%;
    height: 7vh;
    float:left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2020202d;
}
.leftcontent_info{
    width:100%;
    height: 33.33%;
    float:left;
}


#rightlogin{
    width:40%;
    height:100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADADA;
    border-radius:0px 10px 10px 0px;
}

#rightwrapper{
    width:80%;
    height:70%;
    float:left;
}

#loginfield{
    width:90%;
    float:left;
    display: flex;
    align-items: center;
    border-radius:5px;
    border: 1px solid #949494;
    margin-bottom: 3%;
    padding-left:5%;
    padding-right:5%;
}

.logintextfield{
    height:3.25vh;
    width:100%;
    border: none;
    outline: none;
    background-color: #DADADA;
    float:left;
    display: flex;
    align-items: center;
    margin-left:5%;
    font-weight:100;
    font-size:1vh;
    font-family: Roboto;
}

.btnlogin{
    width:100%;
    height:3.25vh;
    float:left;
    border-radius:5px;
    background-color: #202020;
    border: none;
    outline: none;
    cursor: pointer;
    color:#DADADA;
    font-weight:100;
    font-size:1vh;
    font-family: Roboto;
}

.infotxtstack{
    width:48%;
    height:8%;
    float:left;
    margin-left:10;
    margin-right:10;
}



@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

