<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/917431db2c.js" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="headcontainer">
            <div id="logotypecontainer">
             <a href ="/">
                <div id="colorcontainer">
                    <div class="square1_1"></div>
                    <div class="square1_2"></div>
                    <div class="square1_2"></div>
                    <div class="square1_2"></div>
    
                    <div class="square2_1"></div>
                    <div class="square2_2"></div>
                    <div class="square2_3"></div>
                    <div class="square2_4"></div>
    
                    <div class="square3_1"></div>
                    <div class="square3_2"></div>
                    <div class="square3_3"></div>
                    <div class="square3_4"></div>
                </div>
            </a>
    
                <div id="logotext">
                    <h1 class="logotype"> <a href ="/">easyplan</a></h1>
                </div>
    
            </div>
    
            <div id="menucontainer">
                <div class="dropdown" style="float:right;">
                    <button class="dropbtn"><i class="fa fa-bars fa-lg"></i></button>
                    <div class="dropdown-content">
                        <a href="/"><i class="fas fa-home"></i> &nbsp &nbsp &nbsp &nbsp &nbsp;Home</a>
                        <a href="/about"><i class="fas fa-info"></i>&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp;About</a>
                        <a href="/donate"><i class="fas fa-hand-holding-usd"></i>&nbsp&nbsp &nbsp &nbsp &nbsp;Donate</a>
                    </div>
                  </div> 
            </div>
        </div>   
    </div>
{% block content %}{% endblock %}

</body>

<script>
    $(window).keydown(function(){
    if (event.keyCode == 13) {      
        event.preventDefault();
        var html = '';
        html += '<div id="inputrow">';
        html += '<div class="textfieldwrapper">';
        html += '<input type="text" name="title[]" class="textfield" placeholder="Kurskod" autocomplete="off">';
        html += '</div>';
        html += '<div class="removebtnwrapper">';
        html += '<button id="removeRow" type="button" class="rmvbtn"><i class="far fa-trash-alt"></i></button>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html); 
        
        if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
         var form = event.target.form;
        var index = Array.prototype.indexOf.call(form, event.target);
        form.elements[index + 2].focus();
        event.preventDefault();
  }
    }
    });

    


    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputrow">';
        html += '<div class="textfieldwrapper">';
        html += '<input type="text" name="title[]" class="textfield" placeholder="Kurskod" autocomplete="off">';
        html += '</div>';
        html += '<div class="removebtnwrapper">';
        html += '<button id="removeRow" type="button" class="rmvbtn"><i class="far fa-trash-alt"></i></button>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputrow').remove();
    });


    
</script>
</html>
