{% extends "base.html" %}

{% block title %}
easyplan - stop struggle | About
{% endblock %}

{% block content %}
<div id="container">
    <div id="textbox">
        <p class ="content">Our very commited crew has a total work experience of 0.5 years within the business! With a
            strong foundation we feel safe to say that we are something to lay on ones mind!</p>
    </div>


    <div id="aboutbox">
        <img src="static/pic/nils.jpg" style="width:210px;height:280px;">
    </div>
    <div id="aboutbox">
        <img src="static/pic/christian.jpg"style="width:210px;height:280px;">
    </div>
    <div id="aboutbox">
        <img src="static/pic/lukas.jpg"style="width:210px;height:280px;">
    </div>
    <div id="aboutbox">
        <img src="static/pic/filip.jpg"style="width:210px;height:280px;">
    </div>
    <div id="aboutbox">
        <img src="static/pic/oscar.jpg"style="width:210px;height:280px;">
    </div>
    <div id="aboutbox">
        <img src="static/pic/mikael.jpg"style="width:210px;height:280px;">
    </div>


</div>
{% endblock %}
