<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/917431db2c.js" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>
<body>
    <div id="header">
        <div id="headcontainer">
            <div id="logotypecontainer">
             <a href ="/">
                <img src="static/pic/logotype.svg" style="height:75%; float:left; margin-top:0.5em;">
            </a>
    
                <div id="logotext">
                    <h1 class="logotype"> <a href ="/">easyplan</a></h1>
                </div>
 
            </div>
    
            <div id="menucontainer">
                <a href="{{ url_for( 'login_page' ) }}"><h1 class="menu"><i class="far fa-user-circle"></i></h1></a>
            </div>

        </div>   
    </div>

{% block content %}{% endblock %}


</body>

    <script>
        let program_select = document.getElementById('program');
        let spec_select = document.getElementById('spec');

        program_select.onchange = function(){
            program = program_select.value;
            
            fetch('/specialization/' + program).then(function(response){
                response.json().then(function(data){
                    let optionHTML='';

                    for (let spec of data.specializations){
                        optionHTML += '<option value="' + spec.id + '">' + spec.name + '</option>'
                    }

                    spec_select.innerHTML = optionHTML;

                });
            });
        }
    </script>

    
</html>
