<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/917431db2c.js" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="headcontainer">
            <div id="logotypecontainer">
             <a href ="/">
                <div id="colorcontainer">
                    <div class="square1_1"></div>
                    <div class="square1_2"></div>
                    <div class="square1_2"></div>
                    <div class="square1_2"></div>
    
                    <div class="square2_1"></div>
                    <div class="square2_2"></div>
                    <div class="square2_3"></div>
                    <div class="square2_4"></div>
    
                    <div class="square3_1"></div>
                    <div class="square3_2"></div>
                    <div class="square3_3"></div>
                    <div class="square3_4"></div>
                </div>
            </a>
    
                <div id="logotext">
                    <h1 class="logotype"> <a href ="/">easyplan</a></h1>
                </div>
    
            </div>
    
            <div id="menucontainer">
                <button id="myBtn"><i class="far fa-user-circle fa-lg"></i></button>
                <div class="dropdown" style="float:right;">
                    <button class="dropbtn"><i class="fa fa-bars fa-lg"></i></button>
                    <div class="dropdown-content">
                        <a href="/"><i class="fas fa-home"></i> &nbsp &nbsp &nbsp &nbsp &nbsp;Home</a>
                        <a href=" {{ url_for( 'about_page' ) }}"><i class="fas fa-info"></i>&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp;About</a>
                        <a href="{{ url_for('donate_page')}}"><i class="fas fa-hand-holding-usd"></i>&nbsp&nbsp &nbsp &nbsp &nbsp;Donate</a>
                    </div>
                  </div> 
             
            </div>
        </div>   
    </div>

{% block content %}{% endblock %}

<!-- Log in Form-->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h3 class="explanation">Log in</h3>
        </div>

        <div id="modal-login">
            <form method = "POST" >
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                        <p class="login">{{ form.program.label(class="login_explanationfield") }}</p>
                        {{ form.program(class = "login_inputfield") }}             

                        <p class="login">{{ form.specialisering.label(class="login_explanationfield") }}</p>
                        {{ form.specialisering(class = "login_inputfield") }}             
    
                        <p class="login">{{ form.firstName.label(class="login_explanationfield") }}</p>
                        {{ form.firstName(class = "login_inputfield", placeholder = "Name" )}}             
    
                        <p class="login">{{ form.lastName.label(class="login_explanationfield") }}</p>
                        {{ form.lastName(class = "login_inputfield", placeholder = "Surname" )}}             
    
                        <p class="login">{{ form.email_address.label(class="login_explanationfield") }}</p>
                        {{ form.email_address(class = "login_inputfield", placeholder = "email@adress.esy") }}             
    
                        <p class="login">{{ form.password.label(class="login_explanationfield") }}</p>
                        {{ form.password(class = "login_inputfield", placeholder = "Password") }}             
    
                        <p class="login">{{ form.passwordConfirmation.label(class="login_explanationfield") }}</p>
                        {{ form.passwordConfirmation(class = "login_inputfield", placeholder = "Repeat password") }}            

    
                        <button type="submit" class="submitbtn" name="cmdsubmit" value="bar"><i class="far fa-paper-plane"></i></button>
                        
        </div>
        <div id="modal-error">
            <p class="leftcont">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </p>
        </div>
    </div>
  
  </div>
</body>

<script>
    $(document).ready(function(){
    var max_input_fields = 100;
    var add_input = $('.add-input');
    var input_wrapper = $('.input-wrapper');
    var new_input = '<div><div class="textfieldwrapper"><input type="text" name="field[]" class="textfield" placeholder="Kurskod" autocomplete="off"></div><a href="javascript:void(0);" class="remove-input" title="Remove input"><button id="removeRow" type="button" class="rmvbtn"><i class="far fa-trash-alt"></i></button></a></div>';
    var add_input_count = 1; 

    $(add_input).click(function(){
        if(add_input_count < max_input_fields){
            add_input_count++; 
            $(input_wrapper).append(new_input); 
        }
    });

    $(input_wrapper).on('click', '.remove-input', function(e){
        e.preventDefault();
        $(this).parent('div').remove();
        add_input_count--;
    });
});

    $(window).keydown(function(){
    if (event.keyCode == 13) {
    event.preventDefault();
        
        if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
            var form = event.target.form;
            var index = Array.prototype.indexOf.call(form, event.target);
            form.elements[index + 2].focus();
            $(input_wrapper).append(new_input);
            event.preventDefault();
        }
    }
});

// Get the log in Form
var modal = document.getElementById("myModal");

// Get the button that opens the log in Form
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the log in Form
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the log in Form
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the log in Form
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the log in Form, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</html>
