{% extends "base.html" %}

{% block title %}
easyplan - stop struggle | Home
{% endblock %}

{% block content %}
<div id="container">
    <div id="textbox">
        <div id="textbox-item">
        <h2 class="textboxtitle">Stop struggle!</h2>
        </div>
        <div id="textbox-item">
        <p class="explanation">Plan your courses and make sure your personal study plan adds up, with ease.</p>
        </div>
    </div>

    <div id="programcontainer">
        <div id="explanationfield">
            <div class="explanation_title">
                <h2 class="expln_title">Here's how it works! &nbsp &nbsp</h2>
            </div>

            <div class="explanation_text">
                <p class="expln_text"> 
                    Studying at The Faculty of Engineering, LTH gives a world-class education. You come in touch with
                    world-leading research and get an early contact with the industry. However, the requirements to get a BSc is sometimes hard to keep track of.
                    easyplan gives you a piece of mind and does the magic for you!
                    <br>
                </p>
            </div>
            <div class="icons_for_success">
                <div><p class="expln_text"><i class="fas fa-hat-wizard fa-4x"></i></p></div>
                <div><p class="expln_text"><i class="fas fa-long-arrow-alt-right fa-4x"></i></p></div>
                <div><p class="expln_text"><i class="fas fa-graduation-cap fa-4x"></i></p></div>
            </div>
            <div class="explanation_text">
                <p class="expln_text">Start of by selecting your personal program and specialization below. In the righ hand tables 
                    you can tick the boxes related to your completed courses. Press submit and you will get a clear view of
                    what you have accomplished and what's left until you can graduate!
                </p>
            </div>
            <div class="explanation_details">

                <form method="POST">
                    {{ programs.hidden_tag() }}
                    {{ programs.program }}
                    {{ programs.spec }}
                    <button type="submit" class="btnsubmitspec">Submit</button>
                </form>
            </div>
        </div>

        <div id="programfield">
            <form method="POST" name="courses">
            <div id="programfield_content">
                <div class="pf_title">
                    <h2 class="pf">Study year 1</h2>
                </div>
                <table class="pf">
                    <tr class="head">
                        <th class="th1">Course Code</th>
                        <th class="th2">Course Name</th>
                        <th class="th3">Credits</th>
                        <th class="th3">Grade</th>
                        <th class="th3">Completed</th>
                    </tr>
                    {% for i in items_y1 %}
                    <tr class="content">
                        <td class="td1">{{items_y1[i]['code']}}</td>
                        <td class="td2">{{items_y1[i]['coursename']}}</td>
                        <td class="td3">{{items_y1[i]['credits']}}</td>
                        <td class="td3"><input type="text" class="grade" onkeypress='return event.charCode >= 51 && event.charCode <= 53 
                            || event.charCode == 71 || event.charCode == 103
                            || event.charCode == 85 || event.charCode == 117'></td>
                        <td class="td3"><input type="checkbox" checked="checked"></td>
                      </tr>
                    {% endfor %}

                </table>

                <div class="pf_title">
                    <h2 class="pf">Study year 2</h2>
                </div>
                <table class="pf">
                    <tr class="head">
                        <th class="th1">Course Code</th>
                        <th class="th2">Course Name</th>
                        <th class="th3">Credits</th>
                        <th class="th3">Grade</th>
                        <th class="th3">Completed</th>
                    </tr>
                    {% for i in items_y2 %}
                    <tr class="content">
                        <td class="td1">{{items_y2[i]['code']}}</td>
                        <td class="td2">{{items_y2[i]['coursename']}}</td>
                        <td class="td3">{{items_y2[i]['credits']}}</td>
                        <td class="td3"><input type="text" class="grade" onkeypress='return event.charCode >= 51 && event.charCode <= 53 
                            || event.charCode == 71 || event.charCode == 103
                            || event.charCode == 85 || event.charCode == 117'></td>
                        <td class="td3"><input type="checkbox" checked="checked"></td>
                      </tr>
                    {% endfor %}

                </table>

                <div class="pf_title">
                    <h2 class="pf">Study year 3</h2>
                </div>
                <table class="pf">
                    <tr class="head">
                        <th class="th1">Course Code</th>
                        <th class="th2">Course Name</th>
                        <th class="th3">Credits</th>
                        <th class="th3">Grade</th>
                        <th class="th3">Completed</th>
                    </tr>
                    {% for i in items_y3 %}
                    <tr class="content">
                        <td class="td1">{{items_y3[i]['code']}}</td>
                        <td class="td2">{{items_y3[i]['coursename']}}</td>
                        <td class="td3">{{items_y3[i]['credits']}}</td>
                        <td class="td3"><input type="text" class="grade" onkeypress='return event.charCode >= 51 && event.charCode <= 53 
                            || event.charCode == 71 || event.charCode == 103
                            || event.charCode == 85 || event.charCode == 117'></td>
                        <td class="td3"><input type="checkbox" checked="checked"></td>
                      </tr>
                    {% endfor %}

                </table>

                <div class="pf_title">
                    <h2 class="pf">Study year 4-5</h2>
                </div>
                <table class="pf">
                    <tr class="head">
                        <th class="th1">Course Code</th>
                        <th class="th2">Course Name</th>
                        <th class="th3">Credits</th>
                        <th class="th3">Grade</th>
                        <th class="th3">Completed</th>
                    </tr>
                    {% for i in items_spec %}
                    <tr class="content">
                        <td class="td1">{{items_spec[i]['code']}}</td>
                        <td class="td2">{{items_spec[i]['coursename']}}</td>
                        <td class="td3">{{items_spec[i]['credits']}}</td>
                        <td class="td3"><input type="text" class="grade" onkeypress='return event.charCode >= 51 && event.charCode <= 53 
                            || event.charCode == 71 || event.charCode == 103
                            || event.charCode == 85 || event.charCode == 117'></td>
                        <td class="td3"><input type="checkbox"></td>
                      </tr>
                    {% endfor %}

                </table>

                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
            </form>

            <div id="programfield_footer">
                <button type="submit" class="btnsubmitprgm" name="courses" value="bar">Submit</button>
            </div>
        </div>
        
    </div>
 
</div>

<div class="footer">
    <div class="footercontainer">
        <div class="footerleft">

        </div>

        <div class="footerright">
        
        </div>
    </div>
</div>
{% endblock %}

