{% extends "user.html" %}

{% block logintitle %}
easyplan - stop struggle | Login
{% endblock %}

{% block login_register %}
<div id="rightlogin">
            <div id="rightwrapper">
                <form method = "POST">
                    {{ form.hidden_tag() }}
                <h3 class="login">Login to Your easyplan Account</h3>
                <div id="loginfield">
                    <p class="loginfield"><i class="fas fa-at"></i></p>{{ form.email_address(class = "logintextfield", placeholder = "E-mail") }}
                </div>
                <div id="loginfield">
                    <p class="loginfield"><i class="fas fa-key"></i></p>{{ form.password(class = "logintextfield", placeholder = "Password") }} 
                </div>
                <button class="btnlogin">Login</button>
                <div class="infotxtstack">
                    <a href="{{ url_for( 'register_page' ) }}"><p class="logintext_lft">Not a member?</p></a>
                </div>
                <div class="infotxtstack">
                    <a href="{{ url_for( 'forgot_page' ) }}"><p class="logintext_rgt">Forgot your <i>password?</i></p></a>
                </div>
                </form>
            </div>
</div>

{% endblock %}