<!DOCTYPE html>
<html>
<head>
<title>{% block logintitle %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/917431db2c.js" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="logincontainer">
    <div id="login_box">
        <div id="leftlogin">
            <div id="leftwrapper">
                <div class="leftcontent_title">
                    <div id="colorcontainer">
                        <div class="square1_1"></div>
                        <div class="square1_2"></div>
                        <div class="square1_2"></div>
                        <div class="square1_2"></div>
        
                        <div class="square2_1"></div>
                        <div class="square2_2"></div>
                        <div class="square2_3"></div>
                        <div class="square2_4"></div>
        
                        <div class="square3_1"></div>
                        <div class="square3_2"></div>
                        <div class="square3_3"></div>
                        <div class="square3_4"></div>
                        
                    </div>
                    <h1 class="login">easyplan</h1>
                </div>

                <div class="leftcontent_info">
                    <h3 class="login_left_info">Start your journey with us</h3>
                    <p class="login_left_info"><i class="fas fa-check-square"></i>&nbsp Keep track of your studies</p>
                    <p class="login_left_info"><i class="fas fa-check-square"></i>&nbsp Save your data for later use</p>
                    <p class="login_left_info"><i class="fas fa-check-square"></i>&nbsp Save time</p>
                </div>
 
            </div>
        </div>

        {% block login_register %}
        {% endblock %}
    </div>
</div>
    <!----


     <div id="wrapper_right">
        <h3 class="leftcont">hej</h3>
  
        <p class="leftcont">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
     </div>
    </div>
--->
</body>
</html>
